/* Set up basic styles for the page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

/*
header {
  background-image: url("image/image24.jpg");
  padding: 20px;
}*/

header h1 {
  color: #333;
  font-size: 24px;
}

/* Style the main content */
body {
  background-image: url("image/image24.jpg");
  background-size: cover;
  background-position: center;
  height: 1100px;
}

h2 {
  color: black;
  font-size: 20px;
  margin-top: 30px;
}

p {
  color: black;
  line-height: 1.5;
}

/* Style the footer */
footer {
  padding: 20px;
  text-align: center;
  font-size: 14px;
  color: black;
}

.goback-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: blue;
  color: white;
  text-decoration: none;
}

.goback-link:hover {
  background-color: rgb(235, 135, 202);
}

.column-container {
  display: flex;
  flex-direction: column;


   

  